---
title: JS Park - Front-End Developer & Designer
menu_title: about
layout: default
robots: noindex
---
<!-- temporally no index while development -->

<link rel="stylesheet" href="/assets/css/index.css">
<script src="/lib/pathseg/pathseg.js"></script>
<script src="/lib/poly-decomp/decomp.min.js"></script>
<script src="/lib/matter-js/matter.js"></script> <!-- fps optimaztion added. check https://original.donga.com/inside/article/all/82/3589729/1 -->
<script src="/assets/scripts/mainGraphic.js"></script>
<script>

</script>



<canvas id="canvas"></canvas>
<div class="block">
  <h2>JS Park</h2>
  <h5>Front-End Developer & Designer</h5>
  <p class="indented" style="margin-top:30px;">
    Hello! Please call me JS. I worked at a tech company as a developer & designer for 4 years. My work varies from modern front-end development to UI/UX, graphics and creative coding. I did rapid prototyping in both design and code, architected and maintained web applications, build graphics automation process and more. I also did various media art projects on the side, focusing on experimental web features and interactions. Originally based in Seoul, I am now looking to relocate for new adventure. Please check below for more information ↓ </div>
<div class="block">
<h4>Experience</h4>
  <ul class="indented">
    <li>
      Member of Web Experiement Group<br/>
      <small class="affiliation indented"><a href="https://www.instagram.com/hejhellohalloannyeong/">HHHA - hejhellohalloannyeong</a> (2021-PRESENT)</small>
    </li>
    <li>
      Front-End Developer & UI/UX Designer<br/>
      <small class="affiliation indented"><a href="https://polle.com">Polle Inc.</a> (MAR 2020-APR 2023. Seoul)</small>
    </li>
    <li>
      UI/UX Designer Intern<br/>
      <small class="affiliation indented"><a href="https://polle.com">Polle Inc.</a> (JAN 2020 - MAR 2020. Seoul)</small>
    </li>
    <li>
      Graphic Designer Intern<br/>
      <small class="affiliation indented">Zicto Inc. (JUN 2018 - AUG 2018. Seoul)</small>
    </li>
  </ul>
</div>
<div class="block">
  <h4>Education</h4>
  <ul class="indented">
    <li>
      Bachelor of Computer Science<br/>
      <small class="affiliation indented">Korea National Open University (2021-2023. S.KOREA)</small>
    </li>
    <li>
      Bachelor of Visual Communication Design<br/>
      Minor in Media Interaction Design<br/>
      <small class="affiliation indented">Ewha Womans University (2015-2020. Seoul)</small>
    </li>
    <li>
      Exchange Student<br/>
      <small class="affiliation indented">Hong Kong Baptist University (2017. Hong Kong)</small>
    </li>
  </ul>
</div>
<div class="block">
  <h4>Publication</h4>
  <ul class="indented">
    <li>
      Featured in &lt;It's Nice That&gt;<br/>
      <small class="affiliation indented"><a href="https://www.itsnicethat.com/articles/hejhellohalloannyeong-digital-230522">Dive into the random, genius, alphabetically-organised world of HejHelloHalloAnnyeong’s web design experiments</a></small>
    </li>
    <li>
      Featured in &lt;Design Magazine CA #261 - Website Show&gt;<br/>
      <small class="affiliation indented"><a href="https://www.cabooks.co.kr/product/CA261">Online Experimentation. Interaction, Sound, Visual inspiration.</a></small>
    </li>
    <li>
      Speaker at the Q/A session &lt;T/SCHOOL 2022: Typography in the DIgital Era&gt;
    </li>
  </ul>
</div>

{% for section in site.data.about %}
<div class="block">
  <h2>{{section.year}}</h2>
    <h4>work</h4>
    <ul class="indented">
      {% for item in section.work %}
      <div class="buttons-container">
      {% for tag in item.tags %}
      <button>{{tag}}</button>
      {% endfor %}
      </div>
      <li class="description indented">{{item.description}}</li>
      {% assign more = item.more %}
      {% for m in more %}
        {% if m.link and m.link != "" %}
          <small class="affiliation"><a class="indented" href="{{m.link}}" target="_blank" >{{m.text}} ↗</a></small>
        {% else %}
          {% if m.text and m.text != "" %}
          <span class="more indented">* {{m.text}}</span>
          {% endif %}
        {% endif %}
        {% if m.images and m.images.size > 0 %}
          <div class="indented">
          {% for image in m.images %}
            <a href="https://d15bnaqqea8wir.cloudfront.net/images/{{image}}"><img class="thumbnail {{m.image_orientation}}" src="https://d15bnaqqea8wir.cloudfront.net/images/{{image}}" /></a>
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
    
    <h4>side project</h4>
    <ul class="indented">
      {% for item in section.side_project %}
      <div class="buttons-container">
      {% for tag in item.tags%}
      <button>{{tag}}</button>
      {% endfor%}
      </div>
      <li  class="description indented">{{item.description}}</li>
      {% comment %} <a href="/assets/images/unrecommended_books1.jpg"><img class="thumbnail" src="/assets/images/unrecommended_books1.jpg" /></a> {% endcomment %}
      {% assign more = item.more %}
      {% for m in more %}
        {% if m.link and m.link != "" %}
        <small class="affiliation"><a class="indented" href="{{m.link}}" target="_blank" >{{m.text}} ↗</a></small>
        {% else %}
          {% if m.text and m.text != "" %}
          <span class="more indented">* {{m.text}}</span>
          {% endif %}
        {% endif %}
        {% if m.images and m.images.size > 0 %}
          <div class="indented">
          {% for image in m.images %}
            <a href="https://d15bnaqqea8wir.cloudfront.net/images/{{image}}"><img class="thumbnail" src="https://d15bnaqqea8wir.cloudfront.net/images/{{image}}" /></a>
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>

  </div>
{% endfor %}
