<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

     {%- include header.html -%} 

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  
  <script type="text/javascript" src="/lib/swipe-it-master/dist/swipe-it.js"></script>
  <script type="text/javascript" src="/assets/scripts/lightbox.js"></script>
  <link rel="stylesheet" href="/assets/css/lightbox.css">
  </body>

</html>
